---
import styles from './PageHeader.module.css';

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle }: Props = Astro.props;
---

<div class={styles.pageHeader}>
  <div class={styles.pageHeaderContent}>
    <h1>{title}</h1>
    {subtitle && <p class={styles.pageSubtitle}>{subtitle}</p>}
  </div>
  <div class={styles.pageHeaderActions}>
    <slot />
  </div>
</div>
